* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

.pink {
	color: #E93656;
}

.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.header {
	position: absolute;
	z-index: 100;
}

.header img {
	max-width: 120px;
	margin: 60px 50px;
}

/* 1. სლაიდერი:
ეს არის ფოტო და მოკლე ინფო თქვენ შესახებ. აქ თქვენს სახელს, გვარს, პროფესიას და ჩასვამთ თქვენს ფოტოს.
JavaScript ზე უნდა დაწეროთ სლაიდერი ისე, რომ იცვლებოდეს მხოლოდ ფოტოები ყოველ 5 წამში ავტომატურად. გამოიყენეთ 3 ან მეტი ფოტო.
*/

.slider {
	max-width: 1920px;
	max-height: 1080px;
	overflow: hidden;
}

.slider__content {
	position: absolute;
	top: 35%;
	left: 55%;
}

.slider__text span {
	font-size: 50px;
	font-family: 'GlacialIndifference-Regular';
}

.slider__text h1 {
	font-size: 71px;
	font-family: 'GlacialIndifference-Bold';
}

.slider__text p {
	font-size: 23px;
	font-family: 'GlacialIndifference-Regular';
}

.slider__text p, h1 {
	color: white;
	margin-bottom: 20px;
}

.slider__socialIcons li {
	max-width: 30px;
	margin: 10px;
}

.slider__socialIcons ul {
	align-items: center;
}

.slider__progressBar {
	width: 340px;
	position: absolute;
	bottom: 5%;
	right: 5%;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: bold;
}

#bar {
	background: #F0F0F0;
	margin-top: 20px;
	display: block;
	height: 6px;
	border-radius: 3px;
	overflow: hidden;
}

#bar span {
	height: 6px;
	float: left;
	background: #E93656;
}

#barProgress {
	width: 100%;
	animation: barProgress 3.5s;
}

@keyframes barProgress {
	0%{
		width: 0%;
	}
	100%{	/*დავტოვე ცარიელი, რომ არ ციმციმებდეს ეკრანი ანიმაციის ჩატვირთვისას*/		

	}
}

/*2. მეტი ინფორმაცია თქვენზე
ეს სექციაც შეიცავს ინფორმაციას თქვენზე, სახელი, გვარი, მოკლე დახასიათება / ბიოგრაფია, ფოტო, ძირითადი პროფესიული ცოდნა, სოც. ქსელის ლინკები და ქვემოთ ტელეფონი, მისამართი და ელ. ფოსტა.
მაუსის მიტანაზე სადაც ხატია შეცვლილი ფერი ყველგან გამოიყენეთ transition -ები.
პროცენტები თავიდან არ უნდა იყოს შევსებული და როცა დასქროლავს მაგ სექციაზე მაშინ უნდა შეივსოს.
*/

.container {
	justify-content: center;
	align-items: center;
}

.profile {
	padding-top: 150px;
}

.profile__text {
	max-width: 350px;
	text-align: justify;
	text-align-last: right;
	margin: 50px 0;
	line-height: 1.5em;
}

.profile__text h2 {
	font-family: 'GlacialIndifference-Bold';
	font-size: 40px;
	margin: 10px 0;
}

.profile__text span {
	font-family: 'GlacialIndifference-Regular';
	font-size: 15px;
	color: #DAAE19; /*Yellow*/
}

.profile__text p {
	font-family: 'Muli';
	font-size: 16px;
	color: #555555; /*light grey*/
	margin: 35px 0;
}

.profile__btn {
	margin: 75px 0;
}

.profile__btn a {
	padding: 15px 50px;
	background-color: #E93656;
	color: white;
	font-family: 'GlacialIndifference-Bold';
	font-size: 15px;
}

.profile__btn a:hover {
	background-color: #15263E;
	transition: 0.5s;
}

.profile__photo {
	max-width: 430px;
	margin: auto 65px;
}

.profile__skills {
	width: 300px;
	font-family: 'GlacialIndifference-Bold';
	font-size: 20px;
}

.profile__skills_list {
	margin-bottom: 75px;
}

.bar {
	background: #F0F0F0;
	display: block;
	height: 8px;
	overflow: hidden;
	margin: 25px auto;
}

.bar span {
	height: 8px;
	float: left;
	background: #E93656;
}

.design.is-visible {
	width: 80%;
	animation: barProgress 3.5s;
}

.photography.is-visible {
	width: 75%;
	animation: barProgress 3.5s;
}

.marking.is-visible {
	width: 40%;
	animation: barProgress 3.5s;
}

.photoshop.is-visible {
	width: 65%;
	animation: barProgress 3.5s;
}

@keyframes design {
	0%{
		width: 0%;
	}
	100%{	
		width: 80%;
	}
}

@keyframes photography {
	0%{
		width: 0%;
	}
	100%{	
		width: 75%;
	}
}

@keyframes marking {
	0%{
		width: 0%;
	}
	100%{
		width: 40%;
	}
}

@keyframes photoshop {
	0%{
		width: 0%;
	}
	100%{
		width: 65%;
	}
}

.profile__socialIcons li {
	background-color: #f0f0f0;
	align-items: center;
	justify-content: center;
	margin: 2px;
	width: 50px;
	height: 50px;
}

.profile__socialIcons li:hover {
	background-color: #15263E;
	transition: 0.5s;
}

.profile__socialIcons a {
	color: #6B6B6B;
}

.profile__socialIcons a:hover {
	color: white;
	transition: 0.5s;
}

/**/

.profile__contactInfo_block {
	height: 210px;
	background-color: #131A36; /*navy blue*/
	color: white;
	margin: 100px 0;
}

.profile__contactInfo_block img {
	width: 30px;
	height: 30px;
}

.profile__contactInfo_imgBorder {
	box-sizing: content-box;
	border: 2px dashed white;
	border-radius: 50%;
	padding: 30px;
	width: 30px;
	height: 30px;
}

.profile__contactInfo_imgBorder:hover {
	border: 2px solid #E93656;
	background-color: #E93656;
	transition: 0.5s;
}

.profile__contactInfo_block div {
	margin: 15px;
}

.profile__contactInfo_block h4 {
	font-family: 'GlacialIndifference-Bold';
	font-size: 25px;
	padding-bottom: 1em;
}

.profile__contactInfo_block a {
	color: inherit;
	font-family: 'Muli';
	font-size: 14px;
}

/*3. სერვისები
ამ სექციაში იწერება თუ რას სთავაზობთ დამქირავებელს. მაგალითად ვებ გვერდის აწყობა, ინფორმაციის განთავსება, support და ა.შ.
შეგიძლიათ შეავსოთ სატესტო მონაცემებით. მაუსის მიტანის დროს უნდა გამოჩნდეს მოკლე აღწერა.
*/

.services {
	justify-content: center;
}

.services__blocks {
	max-width: 1180px;
	margin: 100px 0;
}

.services__block_all {
	margin: 5px;
	height: 360px;
	width: 285px;
	flex-direction: column;
	background-color: #FAFAFA;
	padding: 20px;
}

.services__block_all img {
	max-height: 60px;
}

.services__block_all h3 {
	font-family: 'GlacialIndifference-Bold';
	font-size: 22px;
	margin: 20px;
}

.services__block_description {
	font-family: 'Muli';
	font-size: 14px;
	text-align: center;
	color: white;
	visibility: hidden;
}

.services__block_all:hover .hidden-on-hover {
	display: none;
}

.services__block_all:hover h3 {
	color: white;
}

.services__block_all:hover {
	background-color: #131A36;
}

.services__block_all:hover .services__block_description {
	visibility: visible;
}

/*4. რეკომენდაციები
ეს არის სხვადასხვა ადამიანების მიერ მიღებული რეკომენდაციები. ძირითადად ასეთ განყოფილებაში ანთავსებენ მომხმარებლის მიერ დატოვებულ შეფასებებს ან მადლობის წერილებს. 
შეგიძლიათ ჩაწეროთ რეკომენდაციები ან სატესტო ტექსტი.
JavaScript ზე უნდა დაწეროთ სლაიდერი ისე, რომ სულ იყოს სამი სლაიდი და მარჯვნივ რომ არის სამი პატარა ოთხკუთხედი ღილაკი მაგაზე დაჭერისას მოხდეს შესაბამის სლაიდზე გადართვა.
სლაიდის გადართვისას უნდა შეიცვალოს ტექსტი, ფოტო, სახელი და პროფესია.
*/

.recommendations {
	height: 570px;
	background-image: url("../images/recommendations_banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.recommendations__img {
	max-width: 140px;
	border: 2px dashed white;
	border-radius: 50%;
	padding: 10px;
	margin: 45px;
}

.recommendations__info {
	flex-direction: column;
	align-items: flex-start;
}

.recommendations__info img {
	max-height: 26px;
	margin: 15px 0;
}

.recommendations__text {
	font-family: 'Roboto';
	font-size: 15px;
	max-width: 500px;
	text-align: right;
	line-height: 1.5em;
	color: white;
}

.recommendations__info h5 {
	font-family: 'GlacialIndifference-Bold';
	font-size: 28px;
	color: white;
	margin: 15px 0;
}

.recommendations__info span {
	color: #E93656;
	font-family: 'Roboto';
	font-size: 13px;
}

.recommendations__slides input {
	display: none;
}

.recommendations__navigation {
	width: 5px;
	margin-left: 140px;
	flex-direction: column;
}

.recommendations__navigation_btn {
	border: 2px solid white;
	padding: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.recommendations__navigation_btn:not(:last-child) {
	margin-bottom: 15px;
}

.recommendations__navigation_btn:hover {
	border-color: #E93656;
}

/*......*/

/*5. ბოლო პროექტები:
ამ სექციაში მოქცეულია შესრულებული პროექტები. შეავსეთ სატესტო ინფორმაციით. მაუსის მიტანის დროს უნდა გამოჩნდეს პროექტის სათაური როგორც ფოტოზეა ნაჩვენები. მარცხნივ მოცემულია კატეგორიები.
JavaScript ზე დაწერეთ კოდი ისე, რომ კატეგორიაზე დაკლიკვით ხდებოდეს პროექტების გაფილტვრა. მაგალითად ჩავთვალოთ, რომ ყოველი კატეგორიიდან არის 1 პროექტი. თავიდან არჩეული იყოს ყველა, ხოლო კატეგორიაზე დაკლიკვისას დაიმალოს სხვა პროექტები და გამოჩნდეს მხოლოდ შესაბამისი კატეგორიის პროექტი.
*/

/*6. ბოლო სტატიები:
აქ მოცემულია სტატიები. შეგიძლიათ შეავსოთ სატესტო ტექსტით. 
*/

/*7. Rosa Team:
აქ შეგიძლიათ განათავსოთ პარტნიორის ლოგოები. ფოტოზე მაუსის მიტანისას ლოგო უნდა იცვლებოდეს ტექსტით როგორც ფოტოზეა ნაჩვენები.
*/

/*8. კონტაქტი
ფონზე რომ რუკაა ეგ ჩასვით როგორც ფოტო, არ არის საჭირო ნამდვილი რუკის ჩასმა. ფორმა უნდა იგზავნებოდეს შემდეგ მისამართზე:
https://ucha.ge/contact-form/submit.php
მოთხოვნა უნდა გაიგზავნოს POST მეთოდით შემდეგი პარამეტრებით:
name=...&email=...&website=...&message=...
*/


/*-- footer --*/

.footer {
	background-color: #282828;
	flex-direction: column;
}

.footer__info {
	flex-direction: column;
	height: 428px;
	width: 100%;
}

.footer__info_text {
	color: #A5A5A5;
	font-family: Roboto;
	font-size: 17px;
	line-height: 1.5em;
	text-align: center;
	max-width: 620px;
	margin: 20px;
}

.footer__socialIcons i {
	color: #00BEC5;
	max-height: 20px;
	margin: 20px 10px;
}

.footer__socialIcons i:hover {
	color: #FAFAFA;
	transition: 0.5s;
}

.footer__info_logo {
	max-width: 160px;
	margin: 10px;
}

.footer__rights {
	font-family: 'Muli';
	font-size: 15px;
	color: white;
	background-color: #171717;
	height: 82px;
	width: 100%;
}





/* ------------------- for screens 1600px wide and less -------------------*/

@media screen and (max-width: 1600px) {

	.header img {
		max-width: 110px;
		margin: 40px 50px;
	}

	.slider {
		max-width: 1600px;
		max-height: 900px;
	}

	.slider__progressBar {
		width: 340px;
		bottom: 7%;
	}

/* ------------------- for screens 1366px wide and less -------------------*/

@media screen and (max-width: 1366px) {

	.header img {
		max-width: 100px;
		margin: 40px 50px;
	}

	.slider {
		max-width: 1366px;
		max-height: 768px;
	}

	.slider__text span {
		font-size: 42px;
	}

	.slider__text h1 {
		font-size: 56px;
	}

	.slider__text p {
		font-size: 20px;
	}

	.slider__socialIcons li {
		max-width: 26px;
		margin: 9px;
	}

	.slider__progressBar {
		width: 320px;
		font-size: 20px;
	}

	.profile__text {
		max-width: 330px;
	}

	.profile__text h2 {
		font-size: 36px;
	}

	.profile__text p {
		font-size: 14px;
	}

	.profile__btn a {
		padding: 14px 46px;
		font-size: 14px;
	}

	.profile__photo {
		max-width: 410px;
		margin: auto 60px;
	}

	.profile__skills {
		width: 280px;
		font-size: 18px;
	}

	.footer__info_text {
		font-size: 14px;
	}

	.footer__rights {
		font-size: 12px;
	}
}

/* ------------------- for screens 1280px wide and less -------------------*/

@media screen and (max-width: 1280px) {

	.slider {
		max-width: 1280px;
		max-height: 720px;
	}

	.slider__progressBar {
		bottom: 10%;
	}

	.profile__contactInfo_block img {
		width: 25px;
		height: 25px;
	}

	.profile__contactInfo_imgBorder {
		box-sizing: content-box;
		padding: 25px;
		width: 25px;
		height: 25px;
	}

	.profile__contactInfo_block h4 {
		font-size: 22px;
		padding-bottom: 0.5em;
	}

	.services__blocks {
		max-width: 1024px;
		margin: 84px 0;
	}
	.services__block_all {
		margin: 4px;
		height: 340px;
		width: 248px;
		padding: 16px;
	}
	.services__block_all img {
		max-height: 54px;
	}
	.services__block_all h3 {
		font-size: 20px;
		margin: 16px;
	}
	.services__block_description {
		font-size: 12px;
	}

	.recommendations {
		height: 400px;
	}

	.footer__info_logo {
		max-width: 140px;
	}
}

/* ------------------- for screens 1024px wide and less -------------------*/

@media screen and (max-width: 1024px) {

	.slider {
		max-width: 1024px;
	}

	.slider__text span {
		font-size: 36px;
	}

	.slider__text h1 {
		font-size: 50px;
	}

	.slider__text p {
		font-size: 16px;
	}

	.slider__socialIcons li {
		max-width: 22px;
		margin: 7px;
	}

	.slider__progressBar {
		width: 280px;
		font-size: 16px;
		bottom: 22%;
	}

	.profile__text {
		max-width: 264px;
		margin: 25px 0;
	}

	.profile__text h2 {
		font-size: 32px;
	}

	.profile__text p {
		font-size: 12px;
		margin: 25px 0;
	}

	.profile__btn {
		margin: 40px 0;
	}

	.profile__btn a {
		padding: 14px 46px;
		font-size: 12px;
		margin: 25px 0;
	}

	.profile__photo {
		max-width: 300px;
		margin: auto 40px;
	}

	.bar {
		margin: 20px auto;
	}

	.profile__skills {
		width: 264px;
		font-size: 16px;
	}

	.profile__skills_list {
		margin-bottom: 50px;
	}

	.profile__contactInfo_block {
		margin: 70px 0;
	}

	.profile__contactInfo_block h4 {
		font-size: 20px;
	}

	.profile__contactInfo_block div {
		margin: 10px;
	}

	.services__blocks {
		max-width: 818px;
		margin: 72px 0;
	}
	.services__block_all {
		margin: 4px;
		height: 286px;
		width: 196px;
		padding: 14px;
	}

	.services__block_all img {
		max-height: 48px;
	}

	.services__block_all h3 {
		font-size: 16px;
	}

	.recommendations {
		height: 368px;
	}

	.recommendations__img {
		max-width: 100px;
		padding: 5px;
		margin: 30px;
	}

	.recommendations__info img {
		max-height: 14px;
	}

	.recommendations__text {
		font-size: 12px;
		max-width: 300px;
	}

	.recommendations__info h5 {
		font-size: 20px;
	}

	.recommendations__info span {
		font-size: 11px;
	}

	.footer__info_text {
		font-size: 12px;
	}

	.footer__rights {
		font-size: 10px;
		height: 60px;
	}

	.footer__info_logo {
		max-width: 100px;
	}

	.footer__info {
		height: 320px;
	}
}

/* ------------------- for screens 768px wide and less -------------------*/

@media screen and (max-width: 768px) {

	.header img {
		max-width: 85px;
		margin: 30px 30px;
	}

	.slider {
		max-width: 768px;
	}

	.slider__content {
		top: 13%;
		left: 50%;
	}

	.slider__text span {
		font-size: 20px;
	}

	.slider__text h1 {
		font-size: 30px;
	}

	.slider__text p {
		font-size: 12px;
	}

	.slider__socialIcons li {
		max-width: 14px;
	}

	#bar {
		margin-top: 12px;
	}

	.slider__progressBar {
		width: 200px;
		top: 40%;
		right: 23%;
	}

	.profile {
		padding-top: 40px;
	}

	.profile__text {
		max-width: 200px;
		margin: 20px 0;
	}

	.profile__text h2 {
		font-size: 24px;
	}

	.profile__text p {
		font-size: 10px;
		margin: 20px 0;
	}

	.profile__btn {
		margin: 30px 0;
	}

	.profile__btn a {
		padding: 10px 38px;
		font-size: 10px;
		margin: 22px 0;
	}

	.profile__photo {
		max-width: 200px;
		margin: auto 25px;
	}

	.bar {
		margin: 14px auto;
	}

	.profile__skills {
		width: 160px;
		font-size: 14px;
	}

	.profile__contactInfo_block {
		margin: 45px 0;
	}

	.profile__contactInfo_block h4 {
		font-size: 9px;
		padding-bottom: 1em;
	}

	.profile__contactInfo_block a, p {
		font-size: 8px;
	}

	.profile__contactInfo_block div {
		margin: 4px;
	}

	.profile__contactInfo_block img {
		width: 16px;
		height: 16px;
	}

	.profile__contactInfo_imgBorder {
		padding: 16px;
		width: 16px;
		height: 16px;
	}

	.services__blocks {
		max-width: 500px;
		margin: 50px 0;
	}
	.services__block_all {
		margin: 4px;
		height: 240px;
		width: 242px;
		padding: 12px;
	}

	.recommendations {
		height: 300px;
	}

	.recommendations__img {
		max-width: 75px;
		padding: 3px;
		margin: 25px;
	}

	.recommendations__info img {
		max-height: 12px;
	}

	.recommendations__text {
		font-size: 10px;
		max-width: 200px;
	}

	.recommendations__info h5 {
		font-size: 14px;
	}

	.recommendations__info span {
		font-size: 9px;
	}

	.footer__info_text {
		font-size: 11px;
		max-width: 300px;
	}

	.footer__rights {
		font-size: 8px;
		height: 48px;
	}

	.footer__info_logo {
		max-width: 75px;
	}

	.footer__info {
		height: 240px;
	}
}

/* ------------------- for screens 480px wide and less -------------------*/

@media screen and (max-width: 480px) {

	.slider {
		max-width: 480px;
	}

	.slider__content {
		top: 10%;
		left: 60%;
	}

	.slider__text p {
		font-size: 10px;
	}

	.slider__socialIcons li {
		max-width: 12px;
	}

	.slider__text p, h1 {
		margin-bottom: 8px;
	}

	.slider__progressBar {
		width: 140px;
		top: 36%;
		right: 10%;
	}

	#bar {
		margin-top: 8px;
	}

	.profile__text {
		max-width: 140px;
		margin: 14px 0;
	}

	.profile__text h2 {
		font-size: 16px;
		margin: 4px 0;
	}

	.profile__text span {
		font-size: 10px;
	}

	.profile__text p {
		font-size: 10px;
		margin: 4px 0;
		line-height: 1.25em;
	}

	.profile__btn {
		margin: 20px 0;
	}

	.profile__btn a {
		padding: 5px 25px;
		font-size: 10px;
		margin: 16px 0;
	}

	.profile__photo {
		max-width: 150px;
		margin: auto 16px;
	}

	.bar {
		height: 2px;
		margin: 8px auto;
	}

	.bar span {
		height: 2px;
	}

	.profile__skills {
		width: 100px;
		font-size: 10px;
	}

	.profile__skills_list {
		margin-bottom: 25px;
	}

	.profile__socialIcons li {
		width: 24px;
		height: 24px;
	}

	.profile__contactInfo_block {
		height: 140px;
		margin: 30px 0;
	}

	.profile__contactInfo_imgBorder {
		padding: 12px;
	}

	.services__blocks {
		max-width: 380px;
		margin: 40px 0;
	}
	.services__block_all {
		margin: 4px;
		height: 200px;
		width: 182px;
		padding: 10px;
	}

	.services__block_all img {
		max-height: 40px;
	}

	.services__block_all h3 {
		font-size: 16px;
		margin: 16px;
	}

	.services__block_description {
		font-size: 11px;
	}

	.recommendations {
		height: 260px;
	}

	.recommendations__img {
		display: none;
	}

	.recommendations__text {
		font-size: 10px;
		max-width: 200px;
		margin-right: 20px;
	}

	.recommendations__info h5 {
		font-size: 13px;
		margin: 6px 0;
	}

	.recommendations__info span {
		font-size: 8px;
	}

	.recommendations__info img {
		max-height: 6px;
		margin: 6px 0;
	}

	.recommendations__navigation {
		width: 3px;
		margin-left: 70px;
	}

	.recommendations__navigation_btn {
		border: 1px solid white;
		padding: 3px;
	}

	.footer__info_text {
		margin: 10px;
	}

	.footer__info {
		height: 220px;
	}

}
